.login{
    position: relative;
    height: 100vh;
    width: 100vw;
    background:url('./../img/music_bg.jpg');
    font-family: $f-primary;
    background-size: cover;


    &__error{
        padding:rem(8px) 0;
        text-align: center;
        font-size: rem(14px);
        color: red;
        letter-spacing: 1px;
        font-weight: 100;
    }

    &__form{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: rem(400px);
        border: 1px solid #fff;
        
        padding:rem(50px);

        a{
            color: #fff;
        }
        
        &-control{
            display: block;
            padding: rem(10px) 0;
        }

        &-back{
            color: #fff;
            margin-top: rem(15px);
           
            .ti-arrow-left{
                font-size: rem(14px);
            }
        }
        &__back-label{
            display: inline-block;
           
           
        }

        &-label{
            display: block;
            // color: #2e2e2e;
            color: #fff;
            font-weight: 100;
            font-size: rem(14px);
            margin-bottom: rem(5px);
        }

        &-input{
            border: 1px solid rgba(#000,.2);
            padding: rem(5px);
            width: 100%;
        }

        &-title{
            text-align: center;
            text-transform: uppercase;
            padding-bottom: rem(5px);
            margin-bottom: rem(20px);
            font-weight: 100;
            letter-spacing: 1px;
            font-size: rem(32px);
            color:#fff;
            font-family: $f-primary;
        }
        &-submit{
            outline: none;
            padding: rem(10px) rem(20px); 
            border-radius: 5px;
            margin-top: rem(20px);
            background: #239aea;
            color: #fff;
            text-transform: uppercase;
            font-size: rem(14px);
            display: inline-block;
        }
    }
}