.header{
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 1;
    background: #239aea; 

    &__container{
        width: rem(1200px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
    }

    &__icon{
        height: 40px;      
        
    }    

    &__label{
        font-size: rem(18px);
    }

    &__button{
       color: #fff;
        text-transform: uppercase;
        font-size: rem(14px);
        padding: rem(5px) rem(10px); 
        border-bottom: 1px solid #fff;
        letter-spacing: 1px;

        &--logout{
            color:#000;
        }
        
    }
}